<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Get train info</title>
  </head>
  <body>
    <form class="" action="/" method="post">
      <input type="text" name="trainno" value="" placeholder="Enter train no."/>
      <button type="submit"> Search </button>
    </form>
  </body>
</html>
